*{
    margin: 0px;
}
/* .nav{
    background-color: white;
    width: 1400px;
} */
ul{
    display: flex;
    padding-left: 1000px;
    height: 50px;
    background: rgba(216, 216, 16, 0.933);
    z-index: 10;
}
ul li{
      list-style: none;
     padding: 5px;
     padding-top: 15px;
     font-size: 18px;
  
}
.bg{
    background-color:green;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    width: 1200px;
    height: 600px;
    display: flex;
}
img{
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.word{
    /* margin-left: 600px; */
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.word h1{
    text-align: center;
    padding-top: 50px;
}
.word h3{
    padding-top:100px;
    text-transform: capitalize;
}
.enq{
    margin-left: 750px;
    margin-top: -170px;
    background-color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
   
}
.enq a{
    text-decoration: none;

}

.word h1{
    font-style: italic;
}
