div{
    background-color: green;
padding-left: 20px;
width: 400px;
height: 279px;
border-radius: 5px;
}

img{
    padding-top: 10px;
}


h3{
    padding-left: 75px;
    background-color: white;
    margin-right: 25px;
}

h5{
    padding-left: 65px;
}

h6{
    text-align: center;
}